In [ ]:
import pandas as pd
import numpy as np
import calendar
from google.colab import drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
Data = pd.read_excel(r'/content/gdrive/My Drive/DB_DATA_VIS/Finland_Airports.xlsx')

In [ ]:
# display(Data)

,2019M01,2019M02,2019M03,2019M04,2019M05,2019M06,2019M07,2019M08,2019M09,2019M10,...,2021M10,2021M11,2021M12,2022M01,2022M02,2022M03,2022M04,2022M05,2022M06,2022M07
0,1969169.0,1951842.0,2203647.0,2135867.0,2269401.0,2355497.0,2348056.0,2308374.0,2268741.0,2255817.0,...,772566.0,858229.0,1205058.0,818573.0,829174.0,1080033.0,1131132.0,1321411.0,1479037.0,1565272.0

In [ ]:
Netherlands_Airports = pd.read_excel(r'/content/gdrive/My Drive/DB_DATA_VIS/Netherlands.xlsx')

In [ ]:
OilandGasFinland = pd.read_excel(r'/content/gdrive/My Drive/DB_DATA_VIS/OilAndGasFinland.xlsx')

In [ ]:
OilandGasNetherlands = pd.read_excel(r'/content/gdrive/My Drive/DB_DATA_VIS/OilAndGasNetherlands.xlsx')

In [ ]:
BigMacPrice = pd.read_excel(r'/content/gdrive/My Drive/DB_DATA_VIS/BigmacPrice.xlsx', parse_dates=['date'])

In [ ]:
Vehicles_Netherlands = pd.read_excel(r'/content/gdrive/My Drive/DB_DATA_VIS/Vehicles_Netherlands.xlsx', parse_dates=['Date'])

In [ ]:
Vehicles_Finland = pd.read_excel(r'/content/gdrive/My Drive/DB_DATA_VIS/Finalnd_Vehicles.xlsx', parse_dates=['Date'])

In [ ]:
# Vehicles_Finland.isnull().sum()

In [ ]:
Vehicles_Netherlands.isnull().sum()

Date                          0
Commercial vehicles Month     0
Passengers vehicles Month     1
Monthly vehicle sales         1
Monthly Vehicles/ 1,000 p.    1
Commercial vehicles Year      0
Passengers vehicles Year      2
Annual vehicle sales          2
Annual Vehicles/ 1,000 p.     2
dtype: int64

In [ ]:
Vehicles_Netherlands = Vehicles_Netherlands.replace(np.nan, 0)

In [ ]:
Vehicles_Netherlands.isnull().sum()
# display(Vehicles_Netherlands)

Date                          0
Commercial vehicles Month     0
Passengers vehicles Month     0
Monthly vehicle sales         0
Monthly Vehicles/ 1,000 p.    0
Commercial vehicles Year      0
Passengers vehicles Year      0
Annual vehicle sales          0
Annual Vehicles/ 1,000 p.     0
dtype: int64

In [ ]:
# BigMacPrice.isnull().sum()

In [ ]:
# OilandGasNetherlands.isnull().sum()

In [ ]:
# OilandGasFinland.isnull().sum()

In [ ]:
# Data.isnull().sum()

In [ ]:
Netherlands_Airports.isnull().sum()

Year                       0
Unnamed: 1                36
Aircraft movements         0
Local flights              0
Commercial air traffic     0
Scheduled                  0
Passengers                 0
Cargo                      0
Mail                       0
dtype: int64

In [ ]:
BigMacPrice = BigMacPrice.rename(columns={'date': 'Date'})

In [ ]:
# display(BigMacPrice)

In [ ]:
BigMacPrice_Netherlands = BigMacPrice[(BigMacPrice["name"]=="Netherlands")].sort_values(by=['Date'])

In [ ]:
BigMacPrice_Finland = BigMacPrice[(BigMacPrice["name"]=="Finland")].sort_values(by=['Date'])

In [ ]:
BigMacPrice_final = BigMacPrice_Netherlands.append(BigMacPrice_Finland, ignore_index=True)

In [ ]:
BigMacPrice_final.rename(columns={'date': 'Date', 'name': 'Name'}, inplace=True)

In [ ]:
BigMacPrice_final = BigMacPrice_final.drop(columns=['dollar_ex', 'dollar_price'])

In [ ]:
# display(BigMacPrice_final)

In [ ]:
first_index_value = BigMacPrice_final.index[0]
print(first_index_value)
print(type(first_index_value))

0
<class 'int'>

In [ ]:
# display(BigMacPrice_final)

In [ ]:
BigMacPrice_final.to_csv('BigMacPrice_final.csv', index=False)

In [ ]:
OilandGasFinland = OilandGasFinland.reset_index()

In [ ]:
OilandGasFinland["Date"] = pd.to_datetime(OilandGasFinland["Date"])

In [ ]:
OilandGasFinland = OilandGasFinland.drop(columns=['Super 95 (No Tax)', 'Gas oil (No Tax)', 'Heating gas (No Tax)'])

In [ ]:
OilandGasFinland.insert(0, 'Name', 'Finland')

In [ ]:
# display(OilandGasFinland)

In [ ]:
OilandGasFinland.to_csv('OilandGasFinland.csv', index=False)

In [ ]:
# super95_av_2022 = OilandGasFinland['Super 95'].iloc[0:42].mean(axis=0)
# print(super95_av_2022)

In [ ]:
display(Data)

,2019M01,2019M02,2019M03,2019M04,2019M05,2019M06,2019M07,2019M08,2019M09,2019M10,...,2021M10,2021M11,2021M12,2022M01,2022M02,2022M03,2022M04,2022M05,2022M06,2022M07
0,1969169.0,1951842.0,2203647.0,2135867.0,2269401.0,2355497.0,2348056.0,2308374.0,2268741.0,2255817.0,...,772566.0,858229.0,1205058.0,818573.0,829174.0,1080033.0,1131132.0,1321411.0,1479037.0,1565272.0

In [ ]:
Data = Data.transpose()

In [ ]:
Data = Data.reset_index()

In [ ]:
display(Data)

      index          0
0   2019M01  1969169.0
1   2019M02  1951842.0
2   2019M03  2203647.0
3   2019M04  2135867.0
4   2019M05  2269401.0
5   2019M06  2355497.0
6   2019M07  2348056.0
7   2019M08  2308374.0
8   2019M09  2268741.0
9   2019M10  2255817.0
10  2019M11  1931553.0
11  2019M12  2269335.0
12  2020M01  2020157.0
13  2020M02  1928437.0
14  2020M03   961820.0
15  2020M04    25223.0
16  2020M05    45432.0
17  2020M06   100798.0
18  2020M07   262614.0
19  2020M08   333429.0
20  2020M09   218062.0
21  2020M10   196389.0
22  2020M11   171020.0
23  2020M12   199059.0
24  2021M01   180064.0
25  2021M02   166614.0
26  2021M03   167821.0
27  2021M04   154858.0
28  2021M05   155158.0
29  2021M06   248770.0
30  2021M07   422646.0
31  2021M08   522456.0
32  2021M09   578838.0
33  2021M10   772566.0
34  2021M11   858229.0
35  2021M12  1205058.0
36  2022M01   818573.0
37  2022M02   829174.0
38  2022M03  1080033.0
39  2022M04  1131132.0
40  2022M05  1321411.0
41  2022M06  1479037.0
42  2022M07  1565272.0

In [ ]:
Data.columns = ['Date', 'All Passengers']

In [ ]:
Data['Year'] = Data['Date'].astype(str).str[0:4]

In [ ]:
Data['Month'] = Data['Date'].astype(str).str[5:]

In [ ]:

look_up = {'01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr', '05': 'May',
            '06': 'Jun', '07': 'Jul', '08': 'Aug', '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'}

In [ ]:
Data['Month Name'] = Data['Month'].apply(lambda x: look_up[x])

In [ ]:
Data = Data.drop(['Date'], axis = 1)

In [ ]:
Data['Data'] = Data['Month Name'] + " " + Data['Year']

In [ ]:
print(Data)

    All Passengers  Year Month Month Name      Data
0        1969169.0  2019    01        Jan  Jan 2019
1        1951842.0  2019    02        Feb  Feb 2019
2        2203647.0  2019    03        Mar  Mar 2019
3        2135867.0  2019    04        Apr  Apr 2019
4        2269401.0  2019    05        May  May 2019
5        2355497.0  2019    06        Jun  Jun 2019
6        2348056.0  2019    07        Jul  Jul 2019
7        2308374.0  2019    08        Aug  Aug 2019
8        2268741.0  2019    09        Sep  Sep 2019
9        2255817.0  2019    10        Oct  Oct 2019
10       1931553.0  2019    11        Nov  Nov 2019
11       2269335.0  2019    12        Dec  Dec 2019
12       2020157.0  2020    01        Jan  Jan 2020
13       1928437.0  2020    02        Feb  Feb 2020
14        961820.0  2020    03        Mar  Mar 2020
15         25223.0  2020    04        Apr  Apr 2020
16         45432.0  2020    05        May  May 2020
17        100798.0  2020    06        Jun  Jun 2020
18        262614.0  2020    07        Jul  Jul 2020
19        333429.0  2020    08        Aug  Aug 2020
20        218062.0  2020    09        Sep  Sep 2020
21        196389.0  2020    10        Oct  Oct 2020
22        171020.0  2020    11        Nov  Nov 2020
23        199059.0  2020    12        Dec  Dec 2020
24        180064.0  2021    01        Jan  Jan 2021
25        166614.0  2021    02        Feb  Feb 2021
26        167821.0  2021    03        Mar  Mar 2021
27        154858.0  2021    04        Apr  Apr 2021
28        155158.0  2021    05        May  May 2021
29        248770.0  2021    06        Jun  Jun 2021
30        422646.0  2021    07        Jul  Jul 2021
31        522456.0  2021    08        Aug  Aug 2021
32        578838.0  2021    09        Sep  Sep 2021
33        772566.0  2021    10        Oct  Oct 2021
34        858229.0  2021    11        Nov  Nov 2021
35       1205058.0  2021    12        Dec  Dec 2021
36        818573.0  2022    01        Jan  Jan 2022
37        829174.0  2022    02        Feb  Feb 2022
38       1080033.0  2022    03        Mar  Mar 2022
39       1131132.0  2022    04        Apr  Apr 2022
40       1321411.0  2022    05        May  May 2022
41       1479037.0  2022    06        Jun  Jun 2022
42       1565272.0  2022    07        Jul  Jul 2022

In [ ]:
Data = Data[['Month', 'Month Name','Year','Data','All Passengers']]

KeyError: ignored

In [ ]:
Data.loc[len(Data.index)] = ['08', 'Aug', '2022', 'Aug 2022', 1435341]
Data.loc[len(Data.index)] = ['09', 'Sep', '2022', 'Sep 2022', 1475732]

In [ ]:
# display(Data)

In [ ]:
Finland_Airports = Data.groupby('Year').aggregate('sum')
Finland_Airports.insert(0, 'Name', 'Finland')
display(Finland_Airports)

,Name,All Passengers,Month,Month Name,Data
Year,,,,,
2019,Finland,26267299.0,010203040506070809101112,JanFebMarAprMayJunJulAugSepOctNovDec,Jan 2019Feb 2019Mar 2019Apr 2019May 2019Jun 20...
2020,Finland,6462440.0,010203040506070809101112,JanFebMarAprMayJunJulAugSepOctNovDec,Jan 2020Feb 2020Mar 2020Apr 2020May 2020Jun 20...
2021,Finland,5433078.0,010203040506070809101112,JanFebMarAprMayJunJulAugSepOctNovDec,Jan 2021Feb 2021Mar 2021Apr 2021May 2021Jun 20...
2022,Finland,8224632.0,01020304050607,JanFebMarAprMayJunJul,Jan 2022Feb 2022Mar 2022Apr 2022May 2022Jun 20...
Aug,Finland,08,2022,Aug 2022,1435341
Sep,Finland,09,2022,Sep 2022,1475732

In [ ]:
Finland_Airports = Finland_Airports.rename(columns={'Year': 'Date'})

In [ ]:
# display(Finland_Airports)

In [ ]:
Finland_Airports.to_csv('Finland_Airports.csv', index=True)

In [ ]:
Netherlands_Airports = Netherlands_Airports.drop(['Cargo', 'Mail' ,'Scheduled' , 'Commercial air traffic','Unnamed: 1', ], axis = 1)

In [ ]:
row2016 = pd.DataFrame({'Year':'2016', 'Aircraft movements': '0', 'Local flights':'0', 'Passengers':70279566}, index=[0])
row2017 = pd.DataFrame({'Year':'2017', 'Aircraft movements': '0', 'Local flights':'0', 'Passengers':76203629}, index=[1])

Netherlands_Airports = pd.concat([row2016,Netherlands_Airports.loc[:]]).reset_index(drop=True)
Netherlands_Airports = pd.concat([row2017,Netherlands_Airports.loc[:]]).reset_index(drop=True)

Netherlands_Airports = Netherlands_Airports.rename(columns={'Year': 'Date'})

In [ ]:
Netherlands_Airports.reset_index(drop=True)

In [ ]:
Netherlands_Airports_summary = Netherlands_Airports.iloc[[0,1,2,3,16,29]]
Netherlands_Airports_summary.insert(0, 'Name', 'Netherlands')
Netherlands_Airports_summary = Netherlands_Airports_summary.reset_index()

In [ ]:
Netherlands_Airports_summary = Netherlands_Airports_summary.replace(['2020*'], '2020')
Netherlands_Airports_summary = Netherlands_Airports_summary.replace(['2021*'], '2021')
Netherlands_Airports_summary = Netherlands_Airports_summary.reset_index()

print(Netherlands_Airports_summary)

In [ ]:
# display(Netherlands_Airports_summary)

In [ ]:
Netherlands_Airports_summary.to_csv('Netherlands_Airports_summary.csv', index=False)

In [ ]:
OilandGasNetherlands["Date"] = pd.to_datetime(OilandGasNetherlands["Date"])

In [ ]:
OilandGasNetherlands = OilandGasNetherlands.drop(columns=['Super 95 (No Tax)', 'Gas oil (No Tax)', 'Heating gas (No Tax)'])

In [ ]:
OilandGasNetherlands.insert(0, 'Name', 'Netherlands')

In [ ]:
# display(OilandGasNetherlands)

In [ ]:
OilandGasNetherlands.to_csv('OilandGasNetherlands.csv', index=False)

In [ ]:
OilandGasData = OilandGasNetherlands.append(OilandGasFinland)

In [ ]:
OilandGasData["Date"] = pd.to_datetime(OilandGasData["Date"])

In [ ]:
OilandGasData.to_csv('OilAndGas.csv', index=False)

In [ ]:
# display(OilandGasData)

In [ ]:
  
# initialize list elements
countries = ['Finland','Netherlands']
latitute = ['61.9241','52.2130']
longitude = ['25.7482','5.2794']

data = {'Name': ['Finland','Netherlands'],
        'Latitude': [61.9241,52.2130],
        'Longitude': [25.7482,5.2794]}
  
countries_df = pd.DataFrame(data)

print(countries_df)

In [ ]:
countries_df.to_csv('countries_df.csv', index=False)

In [ ]:
display(countries_df)

In [ ]:
def create_date_table(start='2014-01-01', end='2022-12-31'):
    start_ts = pd.to_datetime(start).date()

    end_ts = pd.to_datetime(end).date()

    # record timetsamp is empty for now
    dates =  pd.DataFrame(columns=['Record_timestamp'],
        index=pd.date_range(start_ts, end_ts))
    dates.index.name = 'Date'

    days_names = {
        i: name
        for i, name
        in enumerate(['Monday', 'Tuesday', 'Wednesday',
                      'Thursday', 'Friday', 'Saturday', 
                      'Sunday'])
    }

    dates['Day'] = dates.index.dayofweek.map(days_names.get)
    dates['Week'] = dates.index.week
    dates['Month'] = dates.index.month
    dates['Quarter'] = dates.index.quarter
    dates['Year'] = dates.index.year
    dates.reset_index(inplace=True)
    dates.index.name = 'date_id'
    return dates

In [ ]:
date = create_date_table(start='2014-01-01', end='2022-12-31')

In [ ]:
date.insert(loc=1,
          column='country',
          value='Finland',)

In [ ]:
display(date)

In [ ]:
date.to_csv('Date.csv', index=False)

In [ ]:
Finland_Airports = Finland_Airports.reset_index()
# display(Finland_Airports)

In [ ]:
Finland_Airports = Finland_Airports.rename(columns={'All Passengers': 'Passengers'})

In [ ]:
Netherlands_Airports_summary = Netherlands_Airports_summary.drop(['Aircraft movements'], axis=1)
Netherlands_Airports_summary = Netherlands_Airports_summary.drop(['Local flights'], axis=1)

# display(Netherlands_Airports_summary)

In [ ]:
AirportsData = Finland_Airports.append(Netherlands_Airports_summary)
AirportsData['Year'] = pd.to_datetime(AirportsData['Year'], format='%Y')

AirportsData = AirportsData.rename(columns={'Year': 'Date'})
Finland_Airports = Finland_Airports.rename(columns={'Year': 'Date'})

In [ ]:
# display(AirportsData)

In [ ]:
AirportsData.to_csv('AirportsData.csv', index=False)

In [ ]:
Vehicles_Finland.insert(0, 'Name', 'Finland')
Vehicles_Netherlands.insert(0, 'Name', 'Netherlands')

In [ ]:
VehiclesData = Vehicles_Finland.append(Vehicles_Netherlands)
VehiclesData.to_csv('VehiclesData.csv', index=False)
VehiclesData.head()